<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-3">
      <!-- Insert form here -->
      <div class="form-login">
        <h1> Crear Cotización</h1>
        <%= simple_form_for @quotation do |f| %>
          <%= f.error_notification %>
          <%= f.input :titulo %>
          <%= f.input :servicio %>
          <%= f.input :fecha %>
          <%= f.input :scope %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>


          <%= f.simple_fields_for :requirements do |pf| %>
            <h2>NUEVO REQUERIMIENTO</h2>
              <%= render 'requirement_fields', f: pf %>
          <% end %>

        <div id="requirement">

          <div class="links">
              <%# <%= link_to_add_association('Agregar Requirimiento', f, :requirements, class: 'btn btn-primary') %>
          </div>
        </div>


          <%= f.submit %>

        <% end %>
      </div>
    </div>
  </div>
</div>
