<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 offset-3">
      <!-- Insert form here -->
      <div class="form-login">
        <h1> Crear Cotización</h1>
        <%= simple_form_for @quotation do |f| %>
          <%= f.error_notification %>
          <%= f.input :titulo %>
          <%= f.input :servicio %>
          <%= f.input :fecha %>
          <%= f.input :scope %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>

        <div class="requirements">
          <%= f.simple_fields_for :requirements do |pf| %>
            <h2>NUEVO REQUERIMIENTO</h2>
              <%= render 'requirement_fields', f: pf %>
          <% end %>
        </div>

        <%= link_to_add_association 'Agregar Requerimientos', f, :requirements, data: { association_insertion_node: '.requirements', association_insertion_method: :append } %>

        <div class="phases">
          <%= f.simple_fields_for :phases do |ph| %>
            <h2>NUEVA FASE</h2>
              <%= render 'phase_fields', f: ph %>
          <% end %>
        </div>

        <%= link_to_add_association 'Agregar Fases', f, :phases, data: { association_insertion_node: '.phases', association_insertion_method: :append } %>

        <%= f.simple_fields_for :conditions do |con| %>
          <h2>TERMINOS Y CONDICIONES</h2>
            <%= render 'condition_fields', f: con %>
        <% end %>

          <%= f.submit %>

        <% end %>
      </div>
    </div>
  </div>
</div>
