<div class="banner" style="background-image: url('<%= cl_image_path @quotation.photo, :width => 100 %>')">
  <div class="container line-grey-2">
          <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 background-banner">
        <h4 class="text-color text-uppercase"> <%= @quotation.titulo %></h4>
        <span class="text-color"> <%= @quotation.servicio %></span>
        <p class="text-color"> <%= @quotation.fecha %></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 button-right">
          <a href="#scope"><button class="btn-show">VER MÁS</button></a>
      </div>
    </div>
  </div>
</div>

<div class="container new-container" id="scope">
  <h6 class="scope-title">SCOPE</h6>
  <div class="col-md-8">
    <p class="scope-text"><%= (simple_format (@quotation.scope), class: 'scope-text').html_safe %></p>
  </div>
</div>


<div class="bg-dark">
  <div class="container new-container">
    <h6 class="scope-title text-color">REQUERIMIENTOS</h6>
    <div class="row">
      <% @quotation.requirements.each do |r| %>
      <div class="col-md-4">
        <div id="BodyField">
          <span class="nombre-requerimiento"><%= r.name %></span>
        </div>
        <div class="video-field-new">
          <h4 class="titulos"><%= r.title %></h4>
          <h6 class="descripciones"><%= (simple_format (r.description)).html_safe %><h6> <!-- Para crear nuevas lineas es con <br> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-claro">
  <div class="container new-container">
    <h6 class="scope-title">PROCESO</h6>
    <div class="row">
      <% @quotation.phases.each do |phase| %>
      <div class="phase-bottom">
        <div class="col-md-10">
          <h1 class="phase-title"><%= phase.title %></h1>
        </div>
        <div class="col-md-8">
          <p class="phase-p"><%= phase.description %></p>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

<div class="bg-dark">
  <div class="container new-container">
    <h6 class="scope-title text-color">TERMINOS & CONDICIONES</h6>
    <div class="row">
      <% @quotation.conditions.each do |r| %>
      <div class="col-md-4">
        <div class="video-field-new">
          <h6 class="descripciones"><%= (simple_format (r.description)).html_safe %><h6> <!-- Para crear nuevas lineas es con <br> -->
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="bg-claro">
  <div class="container new-container col-md-10">
    <table class="table">
  <tr>
    <th>Concepto</th>
    <th>Cantidad</th>
    <th>Subtotal</th>
  </tr>
  <% @quotation.concepts.each do |concept| %>
  <tr>
    <td><h6><%= concept.name %></h6></td>
    <td><%= concept.cantidad %></td>
    <td><%= concept.subtotal %></td>
  </tr>
  <% end %>
</table>
  </div>
</div>

