<div class="banner" style="background-image: url('<%= cl_image_path @quotation.photo, :width => 100 %>')">
  <div class="container line-grey-2">
          <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 background-banner">
        <h4 class="text-color text-uppercase"> <%= @quotation.titulo %></h4>
        <span class="text-color"> <%= @quotation.servicio %></span>
        <p class="text-color"> <%= @quotation.fecha %></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 button-right">
          <button class="btn-show">VER MÁS</button>
      </div>
    </div>
  </div>
</div>

<div class="container new-container">
  <h6 class="scope-title">SCOPE</h6>
  <div>
    <p class="scope-text"><%= @quotation.scope %></p>
  </div>
</div>


<div class="bg-dark">
  <div class="container new-container">
    <h6 class="scope-title text-color">REQUERIMIENTOS</h6>
    <div class="row">
      <% @quotation.requirements.each do |r| %>
      <div class="col-md-4">
        <span class="nombre-requerimiento"><%= r.name %></span> <br>
        <h4 class="titulos"><%= r.title %></h4> <br>
        <h6 class="descripciones"><%= (simple_format (r.description)).html_safe %><h6> <br> <!-- Para crear nuevas lineas es con <br> -->
      </div>
      <% end %>
    </div>
  </div>
</div>



