<div class="banner" style="background-image: url('<%= cl_image_path @quotation.photo, :width => 100 %>')">
  <div class="container line-grey-2">
          <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12 background-banner">
        <h4 class="text-color text-uppercase"> <%= @quotation.titulo %></h4>
        <span class="text-color"> <%= @quotation.servicio %></span>
        <p class="text-color"> <%= @quotation.fecha %></p>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12 button-right">
          <a href="#scope"><button class="btn-show">VER MÁS</button></a>
      </div>
    </div>
  </div>
</div>

<div class="container new-container" id="scope">
  <h6 class="scope-title">SCOPE</h6>
  <div class="col-md-8">
    <p class="scope-text"><%= (simple_format (@quotation.scope), class: 'scope-text').html_safe %></p>
  </div>
</div>


<div class="bg-dark">
  <div class="container new-container">
    <h6 class="scope-title text-color">REQUERIMIENTOS</h6>
    <div class="row">
      <% @quotation.requirements.each do |r| %>
      <div class="col-md-4">
        <div id="BodyField">
          <span class="nombre-requerimiento"><%= r.name %></span>
        </div>
        <div class="video-field-new">
          <h4 class="titulos"><%= r.title %></h4>
          <% r.sub_requirements.each do |sub| %>
          <h6 class="descripciones"><%= sub.requerimiento %></h6>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="bg-claro">
  <div class="container new-container">
    <h6 class="scope-title">PROCESO</h6>
    <div class="row">
      <% @quotation.phases.each do |phase| %>
      <div class="phase-bottom">
        <div class="col-md-10">
          <h1 class="phase-title"><%= phase.title %></h1>
        </div>
        <div class="col-md-8">
          <p class="phase-p"><%= phase.description %></p>
        </div>
      </div>
        <% end %>
    </div>
  </div>
</div>

<div class="bg-blanco">
  <div class="container" style="padding-top: 100px; padding-bottom: 50px">
    <div class="col-sm-12">
      <h6 class="scope-title">Cotización</h6>
    </div>
  </div>

  <div class="container" style="padding-bottom: 100px">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1" style="margin-left: 10%">
      <table class="table">
        <thead>
          <tr>
            <th>Concepto</th>
            <th>Cantidad</th>
            <th>Subtotal</th>
          </tr>
        </thead>
        <% @quotation.concepts.each do |concept| %>
        <tbody>
          <tr>
            <td width="70%"><h6><%= concept.name %></h6></td>
            <td><%= concept.cantidad %></td>
            <td><%= concept.subtotal %></td>
          </tr>
        </tbody>
        <% end %>

        <% @quotation.totals.each do |subt| %>
          <tr class="total">
            <td width="80%">SUBTOTAL</td>
            <td><%= number_to_currency(subt.subtotal) %></td>
          </tr>
          <tr class="total">
            <td>I.V.A</td>
            <td><%=number_to_currency(var = subt.subtotal * 0.16) %></td>
          </tr>
          <tr class="total">
            <td>TOTAL</td>
            <td><%= number_to_currency(var + subt.subtotal)  %></td>
          </tr>
          <% end %>

      </table>
    </div>
  </div>
</div>



<div class="bg-claro">
  <div class="container new-container">
    <h6 class="scope-title">TERMINOS & CONDICIONES</h6>
    <div class="row">
      <% @quotation.conditions.each do |r| %>
        <div class="col-md-8">
              <p class="scope-text"><%= (simple_format (r.description), class: 'scope-text').html_safe %></p> <!-- Para crear nuevas lineas es con <br> -->
        </div>
      <% end %>
      </div>
    </div>
</div>
